<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="" method="post">
      <table>
        <tr>
          <th>제품명</th>
          <td><input name="name" /></td>
        </tr>
        <tr>
          <th>가격</th>
          <td><input name="price" /></td>
        </tr>
        <tr>
          <th>설명</th>
          <td><input name="description" /></td>
        </tr>
        <tr>
          <td><button>등록</button></td>
        </tr>
      </table>
    </form>
  </body>
</html>
